$maincolor:#FAA969;
div{
  h3{
    color:#d90429;
  }
}
.float-rigt{float:right;}
.float-left{float:left;}
b{color:#fca311;}
b>span{color:#000}
.btn{
  background:#fca311;color:#fff;width:100%;box-shadow:none;outline:none;
}
li{list-style-type:none;}
