<div class="text-center py-5">
  <h2>تصفحي الأقسام</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 text-center" routerLink="/face">
      <div class="E9F3EA my-1">
        <img src="../../assets/categories/body.png" class="card w-100">
      </div>
      <h3>وجه</h3>
    </div>
    <div class="col-sm-12 col-md-4 text-center" routerLink="/hair">
      <div class="E9F3EA my-1">
        <img src="../../assets/categories/hair.png" class="card w-100">
      </div>
      <h3>شعر</h3>
    </div>
    <div class="col-sm-12 col-md-4 text-center" routerLink="/body">
      <div class="E9F3EA my-1">
        <img src="../../assets/categories/bb.png" class="card w-100">
      </div>
      <h3>جسم</h3>
    </div>
  </div>
</div>

