<app-header></app-header>
<div class="container-fluid">
  <div class="row my-5">
    <div class="col-sm-12 col-md-3" *ngFor="let body of allData">
      <div>
        <div class="card my-3">
          <img [src]="body.img" [routerLink]="['/body',body.id]">
          <div class="py-3 px-2">
            <div class="title">
              <h5> {{body.name}}
                <span>{{body.price}} جنية</span>
              </h5>
            </div>
            <p >{{body.productDetails}}</p>
            <a class="btn" (click)="addToCart(body)">اضف الي العربة</a>
          </div>
        </div>
      </div>
    </div>
</div>
