img{mix-blend-mode: multiply;object-fit:contain;}

.col-sm-6{
  div{
    margin: 10px auto;
    b{color:#d90429;}
  }
}
.trash{
  display:flex;justify-content:center;align-items:center;
  .fa-trash-o{color:#d90429;font-size:25px;cursor:pointer;}
}
.container:nth-of-type(2){
  div{
    float :left;
    p{
      b{color:#fca311;}
      .fa-money{font-size:20px;color:#fca311;}
      font-size:20px;font-weight:600;
    }
  }
}

.btn{background:#fca311;color:#fff;padding:5px 25px;}
